*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color:blue;
    background: #fff;
}

header{
    margin: 0 auto;
    width: 650px;
}

h1{
    margin: 1rem;
    font-size: 10px;
    color: purple;
    text-align: center;
}

form{
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: beige;
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: 1rem;
    margin: 5px;
    border: 3px solid black;
    padding: 0.5cm;
}

legend{
    padding: 1rem;
    color: navy;
    font-size: 2rem;
}

label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}

label{
    text-align: right;
    padding-right: 10px;
}

input, select, textarea{
    padding: 1rem;
    font-size: larger;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button{
    margin: 1rem;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: darkgreen;
}

footer{
    margin: 30px;
    width: 30px;
    text-align: right;
    font-size: 1rem;
    color: brown;
    border-top: 2px solid black;
}

.for-item{
    display: grid;
    align-items: center;
}

.column1{
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2{
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}